<nav>
    <div>
        <a href="/" class="brand-logo center">Plant-based News Source</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="/clearall">Clear Articles</a></li>
        </ul>
    </div>
</nav>